 
 <!-- Footer Start -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>
                copyright &copy; 2021 - developed by
                <b><a href="#" target="_blank">Golden Harvest Infotech Limited</a></b>
            </span>

            <b style="position: relative;left: 20%;">Version: v1.0</b>
        </div>
    </div>
</footer>
<!-- Footer End -->