<div class="row" ng-controller="EventLogListController" ng-cloak>


    <!-- DataTable with Hover -->
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Event Log List</h6>
            </div>
            <div class="table-responsive p-3">
                <table class="table align-items-center table-flush" id="dataTable">
                    <thead class="thead-light">
                        <tr>
                            <th>SL</th>
                            <th>Event No</th>
                            <th>Event Date</th>
                            <th>Event Time</th>
                            <th>Event Name / Type</th>
                            <th>Event Details</th>
                            <th>Cause</th>
                            <th>Discover By</th>
                            <th class="text-center" style="width: 400px !important;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="r in result" ng-class="{'selectedRow':$index == selectedRow}">
                            <td>{{$index+1}}</td>
                            <td>{{r.SerialNo}}</td>
                            <td>{{r.EventDate | date:'dd/MM/yyyy'}}</td>
                            <td>{{r.EventTime}}</td>
                            <td>{{r.EventTypeName}}</td>
                            <td>{{r.EventDetails}}</td>
                            <td>{{r.EventCause}}</td>
                            <td>{{r.DiscoverBy}}</td>
                            <td class="text-center" style="width: 400px !important;">
                                <button type="button" class="btn btn-success" ng-click="EditFn(r, $index)" data-toggle="modal" data-target="#editModal"><i class="fa fa-edit"></i> Edit</button>
                                <button type="button" class="btn btn-danger" ng-click="DeleteFn(r.Id, $index)"><i class="fa fa-trash"></i> Delete</button>
                                <button type="button" class="btn btn-dark" ng-click="IncidentFn(r.Id, $index)"><i class="fa fa-paper-plane"></i> Incident Forward</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <!-- Modal Edit Form -->
    <div class="modal fade bd-example-modal-lg" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 1000px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        Event Log Edit Form
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin-left: 2px;margin-right: 2px;">
                        <div class="col-md-6">
                            <label class="col-form-label">Event Date <span style="color: red">*</span></label>
                            <input type="date" ng-model="newData.EventDate" class="form-control" placeholder="dd/MM/yyyy">
                        </div>

                        <div class="col-md-6">
                            <label class="col-form-label">Event Time <span style="color: red">*</span></label>
                            <input type="time" ng-model="newData.EventTime" class="form-control">
                        </div>
                    </div>

                    <div class="row" style="margin-left: 2px;margin-right: 2px;">
                        <div class="col-md-12">
                            <label class="col-form-label">Event Name or Type <span style="color: red">*</span></label>
                            <select ng-model="newData.EventType" ng-options="r.Id as r.EventTypeName for r in EventTypeData" class="form-control mb-3"></select>
                        </div>

                        <div class="col-md-12">
                            <label class="col-form-label">Event Details</label>
                            <textarea ng-model="newData.EventDetails" class="form-control" placeholder="Enter Event Details"></textarea>
                        </div>
                    </div>

                    <div class="row" style="margin-left: 2px;margin-right: 2px;">
                        <div class="col-md-12">
                            <label class="col-form-label">Event Cause</label>
                            <textarea ng-model="newData.EventCause" class="form-control" placeholder="Enter Event Cause"></textarea>
                        </div>

                        <div class="col-md-12">
                            <label class="col-form-label">Discover By <span style="color: red">*</span></label>
                            <select ng-model="newData.DiscoverBy" ng-options="r.CardNo as r.CardNo for r in CardNoData" class="form-control mb-3">
                                <option value="">Select Discover By</option>
                            </select>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger closeModal" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    <button type="button" class="btn btn-outline-primary" ng-disabled="!newData.EventDate || !newData.EventTime || !newData.EventType || !newData.DiscoverBy" ng-click="UpdateEventLog(newData)"><i class="fa fa-edit"></i> Update</button>
                </div>
            </div>
        </div>
    </div>


</div>

@Scripts.Render("~/Angular/EventLog/EventLogListController.js")